## Building ML Model to prediction Teams position based on season's performance

Trying to build an ML model to predict the position of teams in the EPL based on the 2021/2022 Season.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('EPL Standings 2000-2022.csv')

In [3]:
df.head()

,Season,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
0,2000-01,1,Manchester United,38,24,8,6,79,31,48,80,Qualification for the Champions League first g...
1,2000-01,2,Arsenal,38,20,10,8,63,38,25,70,Qualification for the Champions League first g...
2,2000-01,3,Liverpool,38,20,9,9,71,39,32,69,Qualification for the Champions League third q...
3,2000-01,4,Leeds United,38,20,8,10,64,43,21,68,Qualification for the UEFA Cup first round[a]
4,2000-01,5,Ipswich Town,38,20,6,12,57,42,15,66,Qualification for the UEFA Cup first round[a]

In [4]:
df[df.Season == '2021-22']

,Season,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
420,2021-22,1,Manchester City,38,29,6,3,99,26,73,93,Qualification for the Champions League group s...
421,2021-22,2,Liverpool,38,28,8,2,94,26,68,92,Qualification for the Champions League group s...
422,2021-22,3,Chelsea,38,21,11,6,76,33,43,74,Qualification for the Champions League group s...
423,2021-22,4,Tottenham Hotspur,38,22,5,11,69,40,29,71,Qualification for the Champions League group s...
424,2021-22,5,Arsenal,38,22,3,13,61,48,13,69,Qualification for the Europa League group stag...
425,2021-22,6,Manchester United,38,16,10,12,57,57,0,58,Qualification for the Europa League group stag...
426,2021-22,7,West Ham United,38,16,8,14,60,51,9,56,Qualification for the Europa Conference League...
427,2021-22,8,Leicester City,38,14,10,14,62,59,3,52,Not Applicable
428,2021-22,9,Brighton & Hove Albion,38,12,15,11,42,44,-2,51,Not Applicable
429,2021-22,10,Wolverhampton Wanderers,38,15,6,17,38,43,-5,51,Not Applicable
430,2021-22,11,Newcastle United,38,13,10,15,44,62,-18,49,Not Applicable
431,2021-22,12,Crystal Palace,38,11,15,12,50,46,4,48,Not Applicable
432,2021-22,13,Brentford,38,13,7,18,48,56,-8,46,Not Applicable
433,2021-22,14,Aston Villa,38,13,6,19,52,54,-2,45,Not Applicable
434,2021-22,15,Southampton,38,9,13,16,43,67,-24,40,Not Applicable
435,2021-22,16,Everton,38,11,6,21,43,66,-23,39,Not Applicable
436,2021-22,17,Leeds United,38,9,11,18,42,79,-37,38,Not Applicable
437,2021-22,18,Burnley,38,7,14,17,34,53,-19,35,Relegation to the EFL Championship
438,2021-22,19,Watford,38,6,5,27,34,77,-43,23,Relegation to the EFL Championship
439,2021-22,20,Norwich City,38,5,7,26,23,84,-61,22,Relegation to the EFL Championship

In [5]:
data2022 = df[df.Season == '2021-22']

In [8]:
data2022.drop(['Season','Qualification or relegation','Team','Pld'],axis = 1,inplace = True)

C:\Users\Cypher\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [9]:
data2022

     Pos   W   D   L  GF  GA  GD  Pts
420    1  29   6   3  99  26  73   93
421    2  28   8   2  94  26  68   92
422    3  21  11   6  76  33  43   74
423    4  22   5  11  69  40  29   71
424    5  22   3  13  61  48  13   69
425    6  16  10  12  57  57   0   58
426    7  16   8  14  60  51   9   56
427    8  14  10  14  62  59   3   52
428    9  12  15  11  42  44  -2   51
429   10  15   6  17  38  43  -5   51
430   11  13  10  15  44  62 -18   49
431   12  11  15  12  50  46   4   48
432   13  13   7  18  48  56  -8   46
433   14  13   6  19  52  54  -2   45
434   15   9  13  16  43  67 -24   40
435   16  11   6  21  43  66 -23   39
436   17   9  11  18  42  79 -37   38
437   18   7  14  17  34  53 -19   35
438   19   6   5  27  34  77 -43   23
439   20   5   7  26  23  84 -61   22

In [10]:
y = data2022.Pos.values.reshape(-1,1)
X = data2022.drop('Pos',axis = 1)

In [9]:
#building baseline model
from sklearn.linear_model import LinearRegression
model1 = LinearRegression()

In [10]:
model1.fit(X,y)

LinearRegression()

In [11]:
model1.score(X,y)

0.9143959981911909

In [12]:
model1.predict(X)

array([[-0.76414645],
       [-0.81385342],
       [ 4.4161049 ],
       [ 5.04746709],
       [ 5.11660299],
       [ 8.64707567],
       [ 9.76781196],
       [11.2524342 ],
       [10.22962619],
       [10.15504072],
       [10.97113991],
       [11.93330267],
       [12.56757072],
       [13.30170103],
       [14.13321293],
       [14.69062562],
       [14.67016245],
       [15.52779772],
       [19.88185139],
       [19.26847171]])

In [13]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [14]:
X_scaled = scaler.fit_transform(X)

In [15]:
model2 = LinearRegression()

In [16]:
model2.fit(X_scaled,y)

LinearRegression()

In [17]:
model2.score(X_scaled,y)

0.914395998191191

In [18]:
model2.predict(X_scaled)

array([[-0.76414645],
       [-0.81385342],
       [ 4.4161049 ],
       [ 5.04746709],
       [ 5.11660299],
       [ 8.64707567],
       [ 9.76781196],
       [11.2524342 ],
       [10.22962619],
       [10.15504072],
       [10.97113991],
       [11.93330267],
       [12.56757072],
       [13.30170103],
       [14.13321293],
       [14.69062562],
       [14.67016245],
       [15.52779772],
       [19.88185139],
       [19.26847171]])

In [19]:
from sklearn.ensemble import RandomForestRegressor

In [20]:
model3 = RandomForestRegressor()

In [21]:
model3.fit(X_scaled,y)

C:\Users\Cypher\AppData\Local\Temp/ipykernel_5792/3506007955.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model3.fit(X_scaled,y)

RandomForestRegressor()

In [22]:
model3.score(X_scaled,y)

0.9935809022556391

In [23]:
model3.predict(X_scaled)

array([ 1.53,  1.93,  3.19,  4.28,  5.26,  6.7 ,  6.72,  8.09,  9.78,
        9.91, 11.54, 11.46, 13.12, 13.48, 15.18, 15.72, 16.27, 17.34,
       18.74, 19.23])

In [24]:
from sklearn.linear_model import Lasso

In [25]:
model4 = Lasso()
model4.fit(X_scaled,y)

Lasso()

In [26]:
model4.score(X_scaled,y)

0.878704256281137

In [27]:
model4.predict(X_scaled)

array([ 0.86483389,  1.1033281 ,  5.39622389,  6.11170652,  6.58869495,
        9.21213126,  9.68911968, 10.64309653, 10.88159074, 10.88159074,
       11.35857916, 11.59707337, 12.07406179, 12.312556  , 13.50502705,
       13.74352126, 13.98201548, 14.69749811, 17.55942864, 17.79792285])

In [28]:
from catboost import CatBoostRegressor

In [29]:
ctb = CatBoostRegressor()

In [30]:
ctb.fit(X_scaled,y,silent=True)

In [31]:
ctb.predict(X_scaled)

array([ 1.02135115,  2.00545985,  2.99933381,  3.99178613,  5.01174676,
        6.0116142 ,  6.99540836,  8.00205643,  9.00190903, 10.00437918,
       10.99232641, 11.98964531, 13.00806958, 13.98884602, 15.01417058,
       15.99718986, 16.99544524, 17.99043498, 18.99802892, 19.98199471])

In [32]:
df

,Season,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
0,2000-01,1,Manchester United,38,24,8,6,79,31,48,80,Qualification for the Champions League first g...
1,2000-01,2,Arsenal,38,20,10,8,63,38,25,70,Qualification for the Champions League first g...
2,2000-01,3,Liverpool,38,20,9,9,71,39,32,69,Qualification for the Champions League third q...
3,2000-01,4,Leeds United,38,20,8,10,64,43,21,68,Qualification for the UEFA Cup first round[a]
4,2000-01,5,Ipswich Town,38,20,6,12,57,42,15,66,Qualification for the UEFA Cup first round[a]
...,...,...,...,...,...,...,...,...,...,...,...,...
435,2021-22,16,Everton,38,11,6,21,43,66,-23,39,Not Applicable
436,2021-22,17,Leeds United,38,9,11,18,42,79,-37,38,Not Applicable
437,2021-22,18,Burnley,38,7,14,17,34,53,-19,35,Relegation to the EFL Championship
438,2021-22,19,Watford,38,6,5,27,34,77,-43,23,Relegation to the EFL Championship
439,2021-22,20,Norwich City,38,5,7,26,23,84,-61,22,Relegation to the EFL Championship

In [35]:
#Test Sets
Testset1 = df[df.Season == '2020-21']
Testset1

,Season,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
400,2020-21,1,Manchester City,38,27,5,6,83,32,51,86,Qualification for the Champions League group s...
401,2020-21,2,Manchester United,38,21,11,6,73,44,29,74,Qualification for the Champions League group s...
402,2020-21,3,Liverpool,38,20,9,9,68,42,26,69,Qualification for the Champions League group s...
403,2020-21,4,Chelsea,38,19,10,9,58,36,22,67,Qualification for the Champions League group s...
404,2020-21,5,Leicester City,38,20,6,12,68,50,18,66,Qualification for the Europa League group stag...
405,2020-21,6,West Ham United,38,19,8,11,62,47,15,65,Qualification for the Europa League group stag...
406,2020-21,7,Tottenham Hotspur,38,18,8,12,68,45,23,62,Qualification for the Europa Conference League...
407,2020-21,8,Arsenal,38,18,7,13,55,39,16,61,Not Applicable
408,2020-21,9,Leeds United,38,18,5,15,62,54,8,59,Not Applicable
409,2020-21,10,Everton,38,17,8,13,47,48,-1,59,Not Applicable
410,2020-21,11,Aston Villa,38,16,7,15,55,46,9,55,Not Applicable
411,2020-21,12,Newcastle United,38,12,9,17,46,62,-16,45,Not Applicable
412,2020-21,13,Wolverhampton Wanderers,38,12,9,17,36,52,-16,45,Not Applicable
413,2020-21,14,Crystal Palace,38,12,8,18,41,66,-25,44,Not Applicable
414,2020-21,15,Southampton,38,12,7,19,47,68,-21,43,Not Applicable
415,2020-21,16,Brighton & Hove Albion,38,9,14,15,40,46,-6,41,Not Applicable
416,2020-21,17,Burnley,38,10,9,19,33,55,-22,39,Not Applicable
417,2020-21,18,Fulham,38,5,13,20,27,53,-26,28,Relegation to the EFL Championship
418,2020-21,19,West Bromwich Albion,38,5,11,22,35,76,-41,26,Relegation to the EFL Championship
419,2020-21,20,Sheffield United,38,7,2,29,20,63,-43,23,Relegation to the EFL Championship

In [40]:
y_test1 = Testset1.Pos.values.reshape(-1,1)
X_test1 = Testset1.drop('Pos',axis = 1)
X_test1.drop(['Season','Qualification or relegation','Team','Pld'],axis = 1,inplace = True)

In [41]:
X_test1_scaled = scaler.fit_transform(X_test1)

In [70]:
ctbpred2021 = ctb.predict(X_test1_scaled).reshape(-1)
ctbpred2021

array([ 1.5654112 ,  4.04142028,  3.46578167,  4.01947399,  4.85586382,
        4.55630269,  4.20887141,  4.56837661,  6.90888993,  7.15934056,
        7.17860541, 14.47359319, 16.07903865, 16.3337254 , 15.18034313,
       13.76929726, 17.61637489, 17.71216655, 18.69623904, 18.11520666])

In [69]:
linearpred2021 = model2.predict(X_test1_scaled).reshape(-1)
linearpred2021

array([-0.512139  ,  3.43628627,  5.21613   ,  5.27816241,  6.39725262,
        6.31450628,  8.20005982,  7.58635225,  8.8144798 ,  7.52527728,
       10.04091876, 13.19388395, 12.48677713, 13.1051651 , 14.0587925 ,
       14.62876186, 14.74955996, 18.94453569, 20.10093536, 20.43430197])

In [84]:
Rfpred2021 = model3.predict(X_test1_scaled).reshape(-1)
Rfpred2021

array([ 1.75,  3.48,  3.83,  4.22,  4.66,  4.9 ,  4.92,  5.58,  6.27,
        7.49,  6.64, 14.27, 15.15, 15.35, 14.86, 15.13, 16.76, 18.29,
       18.77, 18.95])

In [88]:
results = pd.DataFrame({'LinearPred': linearpred2021,'CatboostPred':ctbpred2021,'RfPred':Rfpred2021})

In [89]:
results

    LinearPred  CatboostPred  RfPred
0    -0.512139      1.565411    1.75
1     3.436286      4.041420    3.48
2     5.216130      3.465782    3.83
3     5.278162      4.019474    4.22
4     6.397253      4.855864    4.66
5     6.314506      4.556303    4.90
6     8.200060      4.208871    4.92
7     7.586352      4.568377    5.58
8     8.814480      6.908890    6.27
9     7.525277      7.159341    7.49
10   10.040919      7.178605    6.64
11   13.193884     14.473593   14.27
12   12.486777     16.079039   15.15
13   13.105165     16.333725   15.35
14   14.058792     15.180343   14.86
15   14.628762     13.769297   15.13
16   14.749560     17.616375   16.76
17   18.944536     17.712167   18.29
18   20.100935     18.696239   18.77
19   20.434302     18.115207   18.95

In [90]:
results['Linearappox'] = results.LinearPred.apply(lambda x: 1 if x<1 else round(x))

In [91]:
results

    LinearPred  CatboostPred  RfPred  Linearappox
0    -0.512139      1.565411    1.75            1
1     3.436286      4.041420    3.48            3
2     5.216130      3.465782    3.83            5
3     5.278162      4.019474    4.22            5
4     6.397253      4.855864    4.66            6
5     6.314506      4.556303    4.90            6
6     8.200060      4.208871    4.92            8
7     7.586352      4.568377    5.58            8
8     8.814480      6.908890    6.27            9
9     7.525277      7.159341    7.49            8
10   10.040919      7.178605    6.64           10
11   13.193884     14.473593   14.27           13
12   12.486777     16.079039   15.15           12
13   13.105165     16.333725   15.35           13
14   14.058792     15.180343   14.86           14
15   14.628762     13.769297   15.13           15
16   14.749560     17.616375   16.76           15
17   18.944536     17.712167   18.29           19
18   20.100935     18.696239   18.77           20
19   20.434302     18.115207   18.95           20

In [92]:
results['Catboostapprox'] = results.CatboostPred.apply(lambda x: 1 if x<1 else round(x))
results

    LinearPred  CatboostPred  RfPred  Linearappox  Catboostapprox
0    -0.512139      1.565411    1.75            1               2
1     3.436286      4.041420    3.48            3               4
2     5.216130      3.465782    3.83            5               3
3     5.278162      4.019474    4.22            5               4
4     6.397253      4.855864    4.66            6               5
5     6.314506      4.556303    4.90            6               5
6     8.200060      4.208871    4.92            8               4
7     7.586352      4.568377    5.58            8               5
8     8.814480      6.908890    6.27            9               7
9     7.525277      7.159341    7.49            8               7
10   10.040919      7.178605    6.64           10               7
11   13.193884     14.473593   14.27           13              14
12   12.486777     16.079039   15.15           12              16
13   13.105165     16.333725   15.35           13              16
14   14.058792     15.180343   14.86           14              15
15   14.628762     13.769297   15.13           15              14
16   14.749560     17.616375   16.76           15              18
17   18.944536     17.712167   18.29           19              18
18   20.100935     18.696239   18.77           20              19
19   20.434302     18.115207   18.95           20              18

In [93]:
results['Rfapprox'] = results.RfPred.apply(lambda x: 1 if x<1 else round(x))
results

    LinearPred  CatboostPred  RfPred  Linearappox  Catboostapprox  Rfapprox
0    -0.512139      1.565411    1.75            1               2         2
1     3.436286      4.041420    3.48            3               4         3
2     5.216130      3.465782    3.83            5               3         4
3     5.278162      4.019474    4.22            5               4         4
4     6.397253      4.855864    4.66            6               5         5
5     6.314506      4.556303    4.90            6               5         5
6     8.200060      4.208871    4.92            8               4         5
7     7.586352      4.568377    5.58            8               5         6
8     8.814480      6.908890    6.27            9               7         6
9     7.525277      7.159341    7.49            8               7         7
10   10.040919      7.178605    6.64           10               7         7
11   13.193884     14.473593   14.27           13              14        14
12   12.486777     16.079039   15.15           12              16        15
13   13.105165     16.333725   15.35           13              16        15
14   14.058792     15.180343   14.86           14              15        15
15   14.628762     13.769297   15.13           15              14        15
16   14.749560     17.616375   16.76           15              18        17
17   18.944536     17.712167   18.29           19              18        18
18   20.100935     18.696239   18.77           20              19        19
19   20.434302     18.115207   18.95           20              18        19

In [106]:
data = pd.concat([Testset1.reset_index(),results.reset_index()],axis=1)

In [109]:
data.drop(['index','Qualification or relegation'],axis=1,inplace = True)

In [110]:
data.to_csv('EPL 2021 prediction.csv',index=False)

,Season,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
60,2003-04,1,Arsenal,38,26,12,0,73,26,47,90,Qualification for the Champions League group s...
220,2011-12,1,Manchester City,38,28,5,5,93,29,64,89,Qualification for the Champions League group s...
300,2015-16,1,Leicester City,38,23,12,3,68,36,32,81,Qualification for the Champions League group s...

array([ 7.03120146,  6.77571256, 18.31494277])

array([ 4.70931151, 10.74335252, 16.04733597])

array([ 6.41,  5.15, 17.99])